---
layout: homepage
---
<div class="home">

  <div class="sections">
    <div class="clip-section">
      <i class="fa fa-keyboard-o"></i> <a href="#work">Work</a>
    </div>
    <div class="clip-section">
      <i class="fa fa-wrench"></i> <a href="#side-projects">Side projects</a>
    </div>
    <div class="clip-section">
      <i class="fa fa-group"></i> <a href="#talks">Talks</a>
    </div>
    <div class="clip-section">
      <i class="fa fa-trophy"></i> <a href="#awards">Awards</a>
    </div>
  </div>

  <div class="section" id="work">
    <div class="section-title">Work</div>

    {% for clip in site.clips_design reversed %}
    <div class="clip-wrapper">
      <div class="design-title inline">{% if clip.clip_url %}<a href="{{ clip.clip_url }}">{{ clip.title }}</a>{% else %}{{ clip.title }}{% endif %}</div>

      {% if clip.image_url %}
      <div class="{% if clip.padding %}clip-image-padding{% endif %}">
        {% if clip.clip_url %}<a href="{{ clip.clip_url }}">{% endif %}
          <img class="clip-image{% if clip.image_border %} clip-image-border{% endif %}" {% if clip.deferred_image == true %}src="" data-src="{{ clip.image_url }}"{% else %}src="{{ clip.image_url }}"{% endif %} alt="{{ clip.image_alt }}">
        {% if clip.clip_url %}</a>{% endif %}
      </div>
      {% endif %}

      {% if clip.excerpt %}
        {{ clip.excerpt }}
      {% endif %}

      {% if clip.repo %}
        <div class="clip-repo"><a href="{{ clip.repo }}">Source code</a></div>
      {% endif %}

      {% if clip.tools %}
        <div class="clip-tools">Tools: {{ clip.tools }}</div>
      {% endif %}

    </div>
    {% endfor %}
  </div>

  <div class="section side-projects" id="side-projects">
    <div class="section-title">Side projects</div>
    {% for side_project in site.side_projects %}
    <div class="clip-wrapper">
      <div class="project-title"><a href="{{ side_project.side_project_url }}">{{ side_project.title }}</a></div>
      <div><a href="{{ side_project.side_project_url }}"><img class="clip-image" src="{{ side_project.image_url }}" alt="{{ side_project.image_alt }}"></a></div>

      {% if side_project.excerpt %}
        {{ side_project.excerpt }}
      {% endif %}

      {% if side_project.repo %}
        <div class="clip-repo"><a href="{{ side_project.repo }}">Source code</a></div>
      {% endif %}
      <div class="clip-tools">Tools: {{ side_project.tools }}</div>
    </div>
    {% endfor %}
  </div>

  <div class="section talks" id="talks">
    <div class="section-title">Talks</div>
    {% for talk in site.talks reversed %}
    <div class="clip-wrapper">
    <div class="talk-title inline">
      {% if talk.talk_url %}
      <a href="{{ talk.talk_url }}">
      {% endif %}
        {{ talk.title }} ({{ talk.conference_abbr }})
      {% if talk.talk_url %}
      </a>
      {% endif %}
    </div>

      {% if talk.excerpt %}
        {{ talk.excerpt }}
      {% endif %}

    </div>
    {% endfor %}
  </div>

  <div class="section awards" id="awards">
    <div class="section-title">Awards</div>
    {% for award in site.awards %}
    <div class="clip-wrapper">
    <div class="award-title inline">
      {% if award.award_url %}
        <a href="{{ award.award_url }}">{{ award.title }}</a>
      {% else %}
        {{ award.title }}
      {% endif %}
    </div>

      {% if award.excerpt %}
        {{ award.excerpt }}
      {% endif %}

    </div>
    {% endfor %}
  </div>

</div>
