<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-item">{{ site.email }}</div>
    <div class="footer-item">
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i> {{ site.github_username }}
        </a>
      {% endif %}
    </div>
    <div class="footer-item">
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i> {{ site.twitter_username }}
        </a>
      {% endif %}
    </div>
    <div class="footer-item">
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i> RSS</a>
    </div>
  </div>
</footer>