<div class="row">
  <div class="small-12 columns resume-wrapper" id="resume-wrapper">
    <div class="row">
      <div class="small-12 medium-8 columns resume-name">Thomas Thoren</div>
      <div class="small-12 medium-4 columns">
        <div class="row">
          <div class="small-7 medium-12 columns resume-contact">
            <i class="fa fa-desktop tiny-pad-right"></i> <a href="http://thomasthoren.com/">thomasthoren.com</a>
          </div>
          <div class="small-5 medium-12 columns resume-contact no-pad-right">
            <i class="fa fa-github tiny-pad-right"></i> <a href="https://github.com/ThomasThoren">ThomasThoren</a>
          </div>
          <div class="small-7 medium-12 columns resume-contact no-pad-right">
            <i class="fa fa-envelope-o tiny-pad-right"></i> thomasjthoren@gmail.com
          </div>
          <div class="small-5 medium-12 columns resume-contact">
            <i class="fa fa-phone tiny-pad-right"></i> (504) 312-1505
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns resume-section-title">Experience</div>
    </div>

    <div class="row">
      <div class="small-6 columns resume-section-name">
        <a href="http://thelensnola.org/">The Lens</a>
      </div>
      <div class="small-6 columns resume-section-date">2013 to present</div>
    </div>
    <div class="row">
      <div class="small-12 columns resume-section-description">
        <ul>
          <li>
            Developed news applications using both database back ends and static front ends.
          </li>
          <li>
            Gathered data from public records requests, web scraping and in-field surveys.
          </li>
          <li>
            Helped build news applications team from the ground up and then led the department for ....
          </li>
          <li>
            Worked with reporters to create accompanying graphics.
          </li>
          <li>
            Used and contributed to open source projects.
          </li>
          <li>
            Created projects in collaboration with other news outlets, including election night breaking news and feature-length packages.
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns resume-section-name">
        <a href="http://www.bestofneworleans.com/">Gambit</a>
      </div>
      <div class="small-6 columns resume-section-date">2013 to 2015</div>
    </div>
    <div class="row">
      <div class="small-12 columns resume-section-description">
        <ul>
          <li>
            Designed original and online versions of print graphics for an alt-weekly magazine.
          </li>
          <li>
            Edited and organized the magazine's events calendar database.
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-8 medium-6 columns resume-section-name">
        <a href="http://cu-citizenaccess.org/">CU-CitizenAccess</a>
      </div>
      <div class="small-4 medium-6 columns resume-section-date">2013</div>
    </div>
    <div class="row">
      <div class="small-12 columns resume-section-description">
        <ul>
          <li>
            Reported for a nonprofit, investigative website as part of a graduate program.
          </li>
          <li>
            Did other things.
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns resume-section-title">Education</div>
    </div>

    <div class="row">
      <div class="small-9 columns resume-section-name">
        Master of science degree
      </div>
      <div class="small-3 columns resume-section-date">
        2013
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns resume-section-description medium-pad-bottom">
        News-editorial journalism, University of Illinois
      </div>
    </div>

    <div class="row">
      <div class="small-9 columns resume-section-name no-pad-right">
        Bachelor of science degree
      </div>
      <div class="small-3 columns resume-section-date">
        2012
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns resume-section-description">
        Civil and environmental engineering, University of Illinois
      </div>
    </div>

  </div>
</div>