/*
 * Site header
 */
.site-header,
.site-header-big {
  // Positioning context for the mobile navigation icon
  position: relative;
  padding: 0;

  font-family: $secondary-serif;

  background: $background;

  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}
.site-header-big {
  padding: 10px 0 20px 0;
}

.small-site-title,
.site-title {
  font-size: 4em;
  line-height: 54px;

  color: white;
  padding: 0;

  font-family: $title-font-family;

  & a,
  & a:hover {
    color: white;
    text-decoration: none;
  }
}
.small-site-title { font-size: 2.5em; }

.intro-text {
  font-size: 1.5em;
  color: white;
  padding: 2em 0 2em 0;
}

.site-nav {
  font-size: 1.5em;
  line-height: 54px;
  margin-bottom: 0;

  .page-link {
    color: white;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.top-contact-info {
  display: relative;
  bottom: 10px;
}
.top-contact {
  color: white;
  font-size: 1.5em;

  & a {
    color: white;
  }
}
a.top-contact {
  color: white;
}


/*
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 10px 0;
}

.footer-item {
  display: inline-block;
  color: #828282;
  padding-right: 25px;
}

@media screen and (max-width: 640px) {
  .footer-item { display: block; }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-4 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-4 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}


/*
 * Page content
 */
.page-content {
  padding: 0 0 $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}


/*
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 42px;

  & a {
    color: inherit;
  }

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.sections-title {
  text-align: center;
  font-size: 3em;
}

.clip-section {
  display: inline-block;
  padding-right: 15px;
}

.section {
  padding: 25px 0 0 0;
}
.section-title {
  font-size: 1.5em;
  border-bottom: 1px solid #CCC;
}


/*
 * Clips
 */
.clip-wrapper {
  padding: 0 0 20px 0;
}

.inline {
  display: inline-block;
}
.clip-title,
.writing-title,
.design-title,
.project-title,
.talk-title {
  font-size: 1.2em;

  & a {
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
  }
}
.writing-title,
.project-title {
  width: 100%;
}

.design-title {
  width: 67%;
}
.talk-title { width: 90%; }

.writing-date,
.design-date,
.talk-date {
  font-size: $small-font-size;
  font-family: $secondary-font-family;
  color: gray;
  text-align: right;
  padding-top: 15px;
}
.writing-date { width: 100%; }

.design-date { width: 33%; }
.talk-date { width: 10%; }

.clip-image {
  width: auto;
  border: 1px solid gray;
}

.clip-image-credit {
  text-align: right;
  font-size: $small-font-size;

  color: gray;
}

.clip-description {
  padding-top: 5px;
}

.clip-tools,
.clip-repo {
  margin-bottom: 15px;
}
// .talk-resource { margin-bottom: 10px; }

/*
 * Resume
 */
.resume-wrapper {
  margin: 20px 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid lightgray;
}

.resume-name {
  font-size: 36px;
  padding-bottom: 10px;
}
.resume-contact {
  font-size: 12px;
}

.resume-section-title {
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.resume-section-name {
  font-size: 16px;
  padding-bottom: 5px;
}
.resume-section-date {
  font-size: 14px;
  text-align: right;
}
.resume-section-description {
  font-size: 14px;
}

@media screen and (min-width: 641px) {
  .resume-wrapper {
    margin: 30px 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .resume-name {
    font-size: 54px;
    padding-bottom: 10px;
  }
}

/*
 * Blog
 */
.blog-image {
  padding-top: 2%;
  padding-bottom: 2%;
}

.image-left {
  float: left;
  padding-right: 2%;
  padding-left: 0;
}
.image-right {
  float: right;
  padding-right: 0;
  padding-left: 2%;
}
.image-center {
  padding-left: 0;
  padding-right: 0;
}

.image-small {
  width: 30%;
}
.image-medium {
  width: 50%;
}
.image-large,
.image-full {
  width: 100%;
}

.image-description {
  font-size: 12px;
  color: gray;
  padding: 0;
  margin: 0;
}

/*
 * Misc.
 */
.tiny-pad-right { padding-right: 1px; }
.medium-pad-bottom { padding-bottom: 15px; }
.no-pad-left { padding-left: 0; }
.no-pad-right { padding-right: 0; }

.no-padding { padding: 0; }
.no-margin { margin: 0; }

// Foundation
.text-left { text-align: left; }
.text-center { text-align: center;}
.text-right { text-align: right; }
@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important;
  }
}
@media screen and (max-width: 39.9375em) {
  .hide-for-small-only {
    display: none !important;
  }
}

.small-padding-bottom { padding-bottom: 0.5em; }

.fixed-font-width {
  width: 20px;
}
/*
 * Mobile width
 */
@media screen and (max-width: 639px) {
  .medium-text-right {
    text-align: left;
  }

  .site-nav {
    line-height: 36px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
  }

  .clip-section {
    display: block;
    text-align: left;
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }
  .small-site-title {
    font-size: 2em;
    padding: 0;
  }
}


/*
 * Medium width
 */
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .medium-text-right { text-align: right; }
}


/*
 * Large width
 */
@media screen and (min-width: 1025px) {
  .medium-text-right { text-align: right; }
}

